body{
    background: rgb(230, 238, 243);
}

main{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    position: relative;

    > .title{
        font-size: 38px;

        > i{
            color: rgb(6, 36, 18);
        }
    }

    > .guardar_tarea{
        font-size: 18px;
        margin: 20px 0px;
    }
}